@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
.header {
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0F2A1D;
    padding: 15px 20px;
    color: #ffffff;
    position: fixed;          
    top: 0;                   
    width: 100%;              
    z-index: 1000;            
}
.logo {
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.button-1{
    background-color: #E3EEd4;
    padding: 20px 25px;
    border-radius: 30px;
    transition: color 0.3s; 
    color: #0F2A1D;
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
}

.button-1:hover{
    background-color: #375534;
    color: white;
    font-weight: bolder;
}

.navbar {
    padding-right: 5%;
    display: flex;
    gap: 50px; 
}

.btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 20px 30px;
    transition: background-color 0.3s;
    background-color: #6B9071;
    border-radius: 50px;
    
}

.btn:hover{
    background-color: #AEC3B0;
    color: black;
}

body {
    padding-top: 80px;
    font-family: Arial, sans-serif;
}

.lgs_1{
    color: rgb(255, 94, 0);
    padding-left: 20px;
    
}

.logo span{
    color: white;
    padding-left: 10px;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#0F2A1D, #375534, #6B9071, #AEC3B0, #E3EED4);
  
  
}

.home-content{
    position: absolute;
    top: 35%;
    left: 55%;
    line-height: 1.2;
   
}

.home-content h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.home-content h2{
    padding-left: 40px;
    color: rgb(128, 26, 0);
    font-size: 40px;
}

.home-content button{
    background-color: rgb(24, 175, 235);
    color: white;
    margin-top: 20px;
    border-radius: 30px;
    padding: 15px 25px;
    border-style: none;
    transition: color 0.3s; 
    font-size: 18px;
    margin-left:40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
}

 .home-content .cnt-1{
    background-color: black;
    font-weight: bold;
}

.home-content .cnt-1:hover{
    background-color: rgb(196, 196, 196);
    color: black;
    font-weight: bold;

}
.home-content .dwn-1{
    background-color: yellowgreen;
    font-weight: bold;
}

.home-content .dwn-1:hover{
    background-color: rgb(170, 255, 0);
    color: black;
    font-weight: bold;
}

.icon{
    justify-content: space-between;
   
}

.icon i{
    font-size: 40px;
    display: inline;
    padding: 15px 25px;
    margin-left: 40px; 
   
}

.icon .icon_1{
    color: blue;
    text-decoration: none;
}

.icon .icon_2{
    color: rgb(189, 135, 36);
    text-decoration: none;

}

.icon .icon_3{
color: #005bbd;
text-decoration: none;
}




.home-content span{
    color: cyan;
    padding-left: 10px;
    text-shadow: 0 0 10px cyan, 
                 0 0 20px cyan, 
                 0 0 40px cyan, 
                 0 0 90px cyan;
}

.home-image{
    height: 60%;
    width: 30%;
    position: absolute;
    bottom: 10%;
    right: 55%;
}

.home-image img{
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px #375534;
}

.about{
    background: linear-gradient( #375534, #6B9071, #AEC3B0, #E3EED4);
    width: 100%;
    min-height: 100vh;
}

.about-img{
    position: absolute;
    display: flex;
    padding-top: 25%;
    padding-left: 10%;
    gap: 5em;

}

.about-img img{
   width: 200px;
   height: 200pxpx;
   object-fit: cover;
   border-radius: 100%;

}
.about-content span{
    color:antiquewhite
}


.about_1{
    color: rgb(247, 101, 48);
    font-size: 50px;
    margin-left: 28%;

    
}

.about_2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333; 
    max-width: 800px; / 
}

.about_2 {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about_2 {
    background-color: #6B9071; 
    border-left: 4px solid #E3EED4; 
    border-right: 4px solid #E3EED4;
    padding: 15px 20px;
    border-radius: 8px; 
}
.about-content{
    padding-left: 19%;
    line-height: 1.5;
}

.about-content p{
    color: white;
}

.services{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( #375534, #6B9071, #AEC3B0, #E3EED4);
    
}

.services-content{
    text-align: center;
   
}

.services-item h3{
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 1%;
    color: rgb(246, 88, 30);
    
    
}

.services-item p{
    font-size: 20px;
    max-width: 1000px;
    margin-left: 15%;
    margin-top: 10px;
    color: white;
}
.services-sectiongrids {
	text-align: center;
    display: flex;
    margin-top: 10%;
    
    
    
}

.services-grid h4 {
	font-size: 25px;
	font-weight: bold;
	padding: 15px 0;
	text-transform: uppercase;
}

.services-grid p {
	font-size: 20px;
	padding: 0 22px;
    
}   

.services-grid img{
    border-radius: 100px;
    cursor: pointer;
}

.contact{
    width: 100%;
    min-height: 110vh;
    background: linear-gradient(#0F2A1D, #375534, #6B9071, #AEC3B0, #E3EED4);
    
}

.social-icon {
    text-align: center;
    padding:30px 0;
    }
    .social-icon i{
        width:40px;
        height:40px;
        background: url("img-sprite.png") no-repeat 0px 0px;
        display:inline-block;
    }
    .social-icon i:hover{
        transition:0.5s all;
        -webkit-transition:0.5s all;
        -moz-transition:0.5s all;
        -o-transition:0.5s all;
        -ms-transition:0.5s all;
    }
    .social-icon a i.icon1{
        background-position:0px 0px;
    }
    .social-icon a i.icon1:hover{
        background-position:0px -40px;
    }
    .social-icon a i.icon2{
        background-position:-40px 0px;
    }
    .social-icon a i.icon2:hover{
        background-position:-40px -40px;
    }
    .social-icon a i.icon3{
        background-position:-80px 0px;
    }
    .social-icon a i.icon3:hover{
        background-position:-80px -40px;
    }
    .social-icon i.icon4{
        background-position:-120px 0px;
    }
    .social-icon a i.icon4:hover{
        background-position:-120px -40px;
    }
    .social-icon i.icon5{
        background-position:-160px 0px;
    }
    .social-icon a i.icon5:hover{
        background-position:-160px -40px;
    }
    .social-icon i.icon6{
        background-position:-200px 0px;
    }
    .social-icon a i.icon6:hover{
        background-position:-200px -40px;
    }
    .social-icon i.icon7{
        background-position:-240px 0px;
    }
    .social-icon a i.icon7:hover{
        background-position:-240px -40px;
    }
    .social-icon i.icon8{
        background-position:-280px 0px;
    }
    .social-icon a i.icon8:hover{
        background-position:-280px -40px;
    }

    .contact-box {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        margin: 0 auto;  
        max-width: 600px; 
        background-color: hsla(0, 0%, 0%, 0.5); /* Black with 50% transparency */
        padding: 80px;
        color: white;
        border-radius: 50px;
      
    }

    .contact-header h3{
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        color: orangered;
    }

    .contact-header p{
        margin-left: 20%;
        max-width: 750px;
        text-align: center;
        font-size: 18px;
        color: white;
    }
    
    form {
        width: 100%; 
        text-align: center; 
       
    }

    .contactgrid input[type="text"] {
        width: 100%;
        background: none;
        outline: none;
       border-radius: 50px;
        border-bottom: 1px solid#d5d6d7;
        font-size: 18px;
        color: #d5d6d7;
        text-transform: capitalize;
        padding: 10px 0;
        padding-left: 10px;
        
       
    }
    .contactgrid1 textarea  {
        width: 80%;
        background: none;
        border-bottom: 1px solid#d5d6d7;
        font-size: 20px;
        color: #d5d6d7;
        text-transform: capitalize;
        padding: 10px 0;
        height: 3.8em;
        padding-left: 10px;
        border-radius: 50px;
        
    }

    .contactgrid2 input[type="submit"] {
        color: #82ffc1;
        background: none;
        border: none;
        font-size:20px;
        outline: none;
        text-transform: uppercase;
        padding-left: 5%;
    }
    .contactgrid2 input[type="submit"]:hover {
        color: #d5d6d7;
    }

.icon-contact{
    font-size: 35px;
   
}

.icon-contact i{
    display: inline;
    padding: 15px 25px;
    margin-left: 40px;
    text-align: none;
}

.icon-contact .icon_1{
    color: blue;
    text-decoration: none;
}

.icon-contact .icon_2{
    color: rgb(189, 135, 36);
    text-decoration: none;

}

.icon-contact .icon_3{
color: #005bbd;
text-decoration: none;
}


p, img{
    animation:fade-in auto linear;
    animation-timeline: view(500px 0);
}

@keyframes fade-in{
    from{
        opacity: .3;
        transform: scale(.5);

    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/* HTML: <div class="loader"></div> */
.loader {
    display: inline-grid;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: repeating-conic-gradient(from 30deg,#C02942 0 60deg,#0B486B 0 120deg);
    animation: l10-0 2s linear infinite;
    margin-left: 200px;
    margin-top: 80px;
  }
  .loader:before,
  .loader:after {
    content:"";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    transform: rotate(0turn) translate(100%,0);
    animation: l10-1 3s infinite ease-in-out;
  }
  .loader:after {
    animation-delay: -1.5s;
  }
  @keyframes l10-0 {to{rotate: -1turn}}
  @keyframes l10-1 {to{transform: rotate(1turn) translate(100%,0) rotate(1turn)}}



