*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}




.nav_bar{
    padding: 20px;
 
}
.nav_links {
    display: flex;
    list-style: none;
    margin: 10px;
    
    
}
 .nav_links, li{
    padding: 0px 35px;

   
 }

.nav_links, a{
    text-decoration: none;
    color: black;
    font-weight: bold;  
   
}

.color{
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: color 0.3s; 
    
}

.color:hover{
    background-color: rgb(67, 158, 219);
    color: white;
    transition: color 0.3s; 
}

.mekus_1{
    margin-left: 8%;
    margin-top: 10%;
}

.yahoo{
    background: #2e3e4e;
}

.mekus_1 h1{
    font-size: 50px;
    color: rgba(255, 153, 0, 0.671);
    margin-bottom: 10px;
}

.mekus_1 span{
    color: wheat;
    padding-left: 10px;
}

.mekus_1 p{
    line-height: 25px;
    color: white;
    font-size: 20px;
   
}

.color_1{
    background-color: rgb(24, 175, 235);
    padding: 20px 25px;
    border-radius: 30px;
    transition: color 0.3s; 
    color: white;

}

.color_1:hover{
    background-color: blue;
    color: white;
    transition: color 0.3s; 
    font-weight: bold;
}

.mekus_2{
    height: 75%;
    width: 40%;
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.mekus_2 img{
    border-radius: 50%;
    height: 100%;
    left: 10%;
    bottom: 0;
    transform: translate(-80);
    box-shadow: 0px 0px 10px 10px skyblue;
}

.but_1{
    background-color: rgb(24, 175, 235);
    color: white;
    margin-top: 10px;
    border-radius: 30px;
    padding: 15px 25px;
    border-style: none;
    transition: color 0.3s; 
    font-size: 18px;
}

.mekus_3{
   padding: 5px 200px;
}

.but_1:hover{
    background-color: blue;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s; 

}

.logo_1{
  margin-right: auto;
  color: white;
  cursor: pointer;
 
}

.logo_1 span{
    color: rgb(247, 101, 48);
    margin-left: 6px;
    font-size: 25px;
}

.logo_1 h2{
    font-size: 30px;
    font-weight: bolder;
}

.about{
    margin-left: 20%;
    padding-bottom: 10%;
    padding-top: 8%;


}

.about_1{
    color: rgb(247, 101, 48);
    font-size: 50px;
    margin-left: 47%;
    
}

.about_2{
    font-size: 20px;
    color: white;
    margin-left: 35%;
    margin-bottom: 50px;
    line-height: 25px;
}

.about span{
    color:antiquewhite
}

.bora_1{
    height: 75%;
    width: 40%;
    position: absolute;
   

}

.bora_1 img{
    border-radius: 50%;
    height: 90%;
    transform: translate(-80);
    box-shadow: 0px 0px 10px 10px skyblue;
    margin-left: 12%;
    margin-bottom: 8%;
    margin-top: 15%;
}

i {
    color: #000000; 
    font-size: 40px; 
    transition: color 0.3s; 

}
  
  i:hover {
    color: #d1d1d1; 
}

.icon_1{
    margin-left: 38%;
    padding-right: 15%;
}

.icon_2{
    padding-right: 15%;

}

.services-section{
    padding:3em 0;
    padding-bottom: 10%;
    

}

.services-header{
    text-align: center;
	width: 85%;
	margin: 0 auto;
}

.services-header h3
{
	font-size: 50px;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: bolder;
	color: rgb(255, 188, 2);
}


.services-header p{
	line-height: 1.5em;
	font-size: 20px;
	color:white;
	padding: 25px 0;
}
.services-sectiongrids {
	text-align: center;
    display: flex;
    
    
}

.services-grid h4 {
	font-size: 25px;
	font-weight: bold;
	padding: 15px 0;
	color:rgb(251, 255, 0);
	text-transform: uppercase;
}

.services-grid p {
	font-size: 20px;
	color: whitesmoke;
	padding: 0 22px;
}

.services-grid img{
    border-radius: 100px;
    cursor: pointer;
}

.services-grid img:hover{
    box-shadow: 0px 0px 10px 10px rgb(230, 129, 82);

}

.contact-header {
	text-align: center;
	width: 85%;
	margin: 0 auto;
}
.contact-header h3 {
	font-size: 50px;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-weight: 400;
	color: rgb(255, 188, 2);
}
.contact-header h3 span {
color: #fefefe;
}
.contact-header p {
	line-height: 1.5em;
	font-size: 20px;
	color: #fefefe;
	
}

.contact {
	padding-bottom:4em;
border-bottom: 1px solid#55626f;
}
.contactgrid {
padding-bottom: 2em;
}
.contactgrid input[type="text"] {
	width: 100%;
	background: none;
	outline: none;
	border: none;
	border-bottom: 1px solid#d5d6d7;
	font-size: 15px;
	color: #d5d6d7;
	text-transform: capitalize;
	padding: 10px 0;
    padding-left: 10px;
}

.contactgrid1 textarea  {
	width: 100%;
	background: none;
	outline: none;
	border: none;
	resize: none;
	border-bottom: 1px solid#d5d6d7;
	font-size: 15px;
	color: #d5d6d7;
	text-transform: capitalize;
	padding: 10px 0;
	height: 2.8em;
    padding-left: 10px;
}
.contactgrid2 {
	padding: 2em 0 0 17em;
}
.contactgrid2 input[type="submit"] {
	color: #82ffc1;
	background: none;
	border: none;
	font-size:20px;
	outline: none;
	text-transform: uppercase;
    padding-left: 32%;
}
.contactgrid2 input[type="submit"]:hover {
	color: #d5d6d7;
}
.footer-bottom {
	text-align: center;
	padding-top: 40px;
}

.services-cnt{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#47001c, #971132);
}

.home-cnt{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#47001c, #971132);
}

.about-content{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#47001c, #971132);
}

.contact-cnt{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#47001c, #971132);
}









